<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>Bảng tài khoản</h3>
			<table class="table table-bordered" ng-controller="getAccTblCtrl">
			  <tr>
				<th>&#9998;</th>
				<th>Mã tài khoản</th>
				<th>Tên tài khoản</th>
				<th><button class="btn btn-sm btn-default">&#9745;</button></th>
				<th><button class="btn btn-sm btn-default">&#10005;</button></th>
			  </tr>
			  <tr ng-repeat="acctbl in acctables">
				<td>
				  <!--<button class="btn btn-sm btn-default" ng-click="getAccTblById(acctbl)">&#9998;</button>-->
				  <a class="btn btn-small btn-primary" href="#/acc-table/add/{{acctbl.id}}">&#9998;</a>
				</td>
				<td>{{acctbl.code}}</td>
				<td>{{acctbl.name}}</td>
				<td><input type = "checkbox" ng-checked="acctbl.isuse"></td>
				<td><input type = "checkbox"></td>
			  </tr>
			</table>
			<br>
			<a class="btn btn-default" href="#/acc-table/add/{{-1}}">&#9998; Tạo mới</a>
			<div class="ui-view-container">
				<div ui-view ng-controller="getAccTblCtrl">
				  <!-- default content can go here but there will be a flicker on some pages loading -->
				</div>
			</div>
		</div>
	</div>
</div>