<form role="form">
  <h3 ng-show="edit">Thêm mặt hàng:</h3>
  <h3 ng-hide="edit">Cập nhật thông tin mặt hàng:</h3>
  <div data-ng-init="loadItemPage()">
	  <div class="form-group">
		<label>Mã MH:</label>
		<input class="form-control" type="text" ng-model="code" placeholder="Mã MH">
	  </div>
	  <div class="form-group">
		<label>Tên MH:</label>
		<input class="form-control" type="text" ng-model="name" placeholder="Tên MH">
	  <div>
	  <div class="form-group">
		<label>Dùng:</label>
		<input type="checkbox" ng-checked="isuse">
	  <div>
  </div>
  <button class="btn btn-default" ng-disabled="error || incomplete">&#10004; Lưu</button>
  <button class="btn btn-default" ng-disabled="error || incomplete">
	<a href="#/item">&#10005; Thoát</a></button>
</form>
