<div class="container">
	<div class="row">
		<div class="col-md-8" ng-controller="getCustomerCtrl">
			<h3>Khách hàng</h3>
			<table class="table table-bordered">
			  <tr>
				<th>&#9998;</th>
				<th>Mã KH</th>
				<th>Tên KH</th>
				<th>Địa chỉ</th>
				<th>SĐT</th>
				<th><button class="btn btn-sm btn-default">&#10005;</button></th>
			  </tr>
			  <tr ng-repeat="customer in customers">
				<td>
				  <a class="btn btn-small btn-primary" href="#/customer/add/{{customer.id}}">&#9998;</a>
				</td>
				<td>{{customer.no}}</td>
				<td>{{customer.name}}</td>
				<td>{{customer.address}}</td>
				<td>{{customer.phone}}</td>
				<td><input type = "checkbox"></td>
			  </tr>
			</table>
			<br>
			<a class="btn btn-default" href="#/customer/add/{{-1}}">&#9998; Tạo mới</a>
			<div class="ui-view-container">
				<div ui-view>
				  <!-- default content can go here but there will be a flicker on some pages loading -->
				</div>
			</div>
		</div>
	</div>
</div>