<md-dialog class="fullscreen-dialog" ng-cloak>
  <form>
    <md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Phiếu xuất kho</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="closeDialog()">
			<!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
			&#10005;
			</md-button>
		</div>
    </md-toolbar>
    <md-dialog-content>
	<div class="md-dialog-content">
		<div class="form-group" ng-controller="exdpkCtrl">
			<div class="col-md-0">
				<label>Ngày tháng:</label>
			</div>
			<div class="col-md-3">
				<div class="datepickerdemo">
					<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
				</div>
			</div>
			<div class="col-md-0">
				<label>Số CT:</label>
			</div>
			<div class="col-md-2">
				<input class="form-control" type="text" ng-model="no" placeholder="Số CT">
			</div>
			<div class="col-md-0">
				<label>TL quy đổi:</label>
			</div>
			<div class="col-md-1">
				<input class="form-control" type="text" ng-disabled="true" ng-model="totalweight">
			</div>
			<div class="col-md-0">	
				<label>Thành tiền:</label>
			</div>
			<div class="col-md-2">
				<input class="form-control" type="text" ng-disabled="true" ng-model="total" placeholder="Tổng tiền">
			</div>
		</div>
		<br />
		<br />
		<div class="form-group">
			<div ng-controller="getAccTblCtrl">
				<div class="col-md-0">
					<label>Ghi nợ:</label>
				</div>
				<div class="col-md-3">
					<select class="form-control" ng-model="debit" ng-options="acctbl.id as (acctbl.code + '--' +acctbl.name) for acctbl in acctables"></select>
				</div>
				<div class="col-md-0">
					<label>Ghi có:</label>
				</div>
				<div class="col-md-3">
					<select class="form-control" ng-model="credit" ng-options="acctbl.id as (acctbl.code + '--' + acctbl.name) for acctbl in acctables"></select>
				</div>
			</div>
			<div class="col-md-0">
				<label>Đối tượng:</label>
			</div>
			<div class="col-md-3" ng-controller="getSupplierCtrl">
				<select class="form-control" ng-model="object" ng-options="s.id as (s.no + '--' + s.name) for s in suppliers"></select>
			</div>
		</div>
		<br />
		<br />
		<div class="col-md-0">
			<label>Diễn giải:</label>
		</div>
		<div class="col-md-6">
			<textarea class="form-control" ng-model="description" rows="1" placeholder="Diễn giải"></textarea>
		</div>
		<br />
		<hr />
		<h4>Nhập chi tiết</h4> 
		<div class="col-md-2">
			<input type="text" class="form-control" placeholder="mã hàng" ng-model="itemno"/>
		</div>
		<div class="col-md-3">
			<input type="text" class="form-control" placeholder="Tên hàng" ng-model="name"/>
		</div>
		<div class="col-md-2" ng-controller="getItemCtrl">
			<select class="form-control" placeholder="Loại vàng" ng-model="itemtype" ng-options="item.id as (item.code + ' ' + item.name) for item in items"></select>
		</div>
		<div class="col-md-1">
			<input class="form-control" type="text" ng-model="weight" placeholder="TL quy đổi">
		</div>
		<div class="col-md-2">
			<input class="form-control" type="text" ng-model="price" placeholder="giá">
		</div>
		<div class="form-group">
			<button class="btn btn-primary" ng-click="saveContact()">Thêm</button>
			<button class="btn btn-default" ng-click="cancelForm()">Hủy</button>
		</div>
		<hr />
		<table class="table table-bordered">
			  <tr>
				<th>&#9998;</th>
				<th>Mã hàng</th>
				<th>Tên hàng</th>
				<th>Loại vàng</th>
				<th>TL quy đổi</th>
				<th>Giá</th>
				<th>Thành tiền</th>
				<th><button class="btn btn-sm btn-default">&#10005;</button></th>
			  </tr>
			  <tr ng-repeat="itemdetail in exinvoicedetails">
				<td>
				  <button class="btn btn-sm btn-default" ng-click="loadItemDetail(itemdetail)">&#9998;</button>
				</td>
				<td>{{itemdetail.no}}</td>
				<td>{{itemdetail.name}}</td>
				<td>{{itemdetail.itemtype}}</td>
				<td>{{itemdetail.weight}}</td>
				<td>{{itemdetail.price}}</td>
				<td>{{itemdetail.amount}}</td>
				<td><input type = "checkbox"></td>
			  </tr>
			</table>
	</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button>
       &#10004; Lưu
      </md-button>
      <md-button>
        &#10005; Thoát
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>