<div class="container">
	<div class="row">
		<div class="col-md-8" ng-controller="getSupplierCtrl">
			<h3>Nhà đối tượng</h3>
			<table class="table table-bordered">
			  <tr>
				<th>&#9998;</th>
				<th>Mã đối tượng</th>
				<th>Tên đối tượng</th>
				<th>Địa chỉ</th>
				<th>SĐT</th>
				<th><button class="btn btn-sm btn-default">&#10005;</button></th>
			  </tr>
			  <tr ng-repeat="s in suppliers">
				<td>
				  <a class="btn btn-small btn-primary" href="#/supplier/add/{{s.id}}">&#9998;</a>
				</td>
				<td>{{s.no}}</td>
				<td>{{s.name}}</td>
				<td>{{s.address}}</td>
				<td>{{s.phone}}</td>
				<td><input type = "checkbox"></td>
			  </tr>
			</table>
			<br>
			<a class="btn btn-default" href="#/supplier/add/{{-1}}">&#9998; Tạo mới</a>
			<div class="ui-view-container">
				<div ui-view>
				  <!-- default content can go here but there will be a flicker on some pages loading -->
				</div>
			</div>
		</div>
	</div>
</div>