<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3>Phiếu tái nhập kho</h3>
			<table class="table table-bordered">
			  <tr>
				<th>&#9998;</th>
				<th>Số CT</th>
				<th>Ngày CT</th>
				<th>Diễn giải</th>
				<th>TL quy đổi</th>
				<th>Tổng tiền</th>
				<th><button class="btn btn-sm btn-default">&#10005;</button></th>
			  </tr>
			  <tr>
				<td>
				  <button class="btn btn-sm btn-default">&#9998;</button>
				</td>
				<td>CT001</td>
				<td>1/8/2016</td>
				<td>hàng mua vào 1</td>
				<td>1.17</td>
				<td>1.170</td>
				<td><input type = "checkbox"></td>
			  </tr>
			   <tr>
				<td>
				  <button class="btn btn-sm btn-default">&#9998;</button>
				</td>
				<td>CT002</td>
				<td>2/8/2016</td>
				<td>hàng mua vào 2</td>
				<td>0.9</td>
				<td>1.1700</td>
				<td><input type = "checkbox"></td>
			  </tr>
			</table>
			<br>
			<a class="btn btn-default" href="#/invoiceim/add">&#9998; Tạo mới</a>
			 <div id="dialogContainer" ng-controller="dialogController as ctrl" layout="row" ng-cloak>
			<md-button class="md-primary md-raised" ng-click="showCustom($event, 2)"  flex="100"  flex-gt-md="auto">
               Custom
            </md-button>
			</div>
			<div class="ui-view-container">
				<div ui-view>
				  <!-- default content can go here but there will be a flicker on some pages loading -->
				</div>
			</div>
		</div>
	</div>
</div>