.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
.dialogdemoBasicUsage button {
  width: 200px; }
.dialogdemoBasicUsage div#status {
  color: #c60008; }
.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }
md-dialog.fullscreen-dialog {
    max-width: 100%;
    max-height: 80%;
    width: 80%;
    height: 80%;
    border-radius: 0;
}
.col-md-0{
	float:left;
}
.imgbg{
	background-image: url("img/gold.jpg");
}